.TabelaProdutos th{
    backgroud-color: #008b8b;
}

.TabelaProdutos table{
    width: 100%;
}

.TabelaProdutos .Par{
    background-color: #ddd;
}

.TabelaProdutos .Impar{
    background-color: #ccc;
}